# Project Day2
- to-do 
- 전용면적 4구간 으로 나눠 그룹화
- object -> 숫자로 변환
- 구/동/전용면적 별 최소 & 최대 & 평균금액 & 계약 건수 출력.

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from matplotlib import rcParams
plt.rc('font', family='Malgun Gothic')
plt.rc('font', size='10')

In [6]:
# 새 데이터 불러오기 
gudong16_df = pd.read_csv('gudong16.csv', encoding='ANSI')
gudong17_df = pd.read_csv('gudong17.csv', encoding='ANSI')
gudong18_df = pd.read_csv('gudong18.csv', encoding='ANSI')
gudong19_df = pd.read_csv('gudong19.csv', encoding='ANSI')

In [7]:
gudong16_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110200 entries, 0 to 110199
Data columns (total 6 columns):
기간          110200 non-null int64
구           110200 non-null object
동           110200 non-null object
전용면적        110200 non-null float64
계약년월        110200 non-null int64
거래금액(만원)    110200 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.0+ MB

In [8]:
## object -> 숫자로 변환하기.
gudong16_df['거래금액(만원)'] = gudong16_df['거래금액(만원)'].replace('[\,]', '', regex=True)
gudong16_df['거래금액(만원)'] = pd.to_numeric(gudong16_df['거래금액(만원)'])

gudong16_df['계약년월'].sum()

for i in gudong16_df['계약년월'].value_counts(): 
    total = 0
    if gudong16_df['계약년월'][i].ischarAt():
        total = total +1
        print(total)

In [9]:
gudong16_transactions = list(gudong16_df['계약년월'])
gudong16_gudong = list(gudong16_df['동'])

In [10]:
gudong17_transactions = list(gudong17_df['계약년월'])
gudong17_gudong = list(gudong17_df['동'])

In [11]:
gudong18_transactions = list(gudong18_df['계약년월'])
gudong18_gudong = list(gudong18_df['동'])

In [12]:
gudong19_transactions = list(gudong19_df['계약년월'])
gudong19_gudong = list(gudong19_df['동'])

import matplotlib.pyplot as plt

# 시각화 함수
def bar_chart(feature) :
    # 특성에 따라 생존자 수를 구한다.
    survived_df = train_df[train_df['Survived'] == 1][feature]
    survived = survived_df.value_counts()
    
    dead_df = train_df[train_df['Survived'] == 0][feature]
    dead = dead_df.value_counts()
    
    # 시각화를 위해 데이터프레임을 생성한다.
    df = pd.DataFrame([survived, dead])
    # 인덱스
    df.index = ['Survived', 'Dead']
    # 그린다.
    df.plot(kind='bar', figsize=(10, 5))
    
# 결측치, 최대, 최소 수 확인
def show_info(feature) :
    print(f"결측치 수 : {train_df[feature].isnull().sum()}")
    print(f"최대 수 : {train_df[feature].max()}")
    print(f"최소 수 : {train_df[feature].min()}")
    print(train_df[feature].value_counts())
    print(train_df[feature].drop_duplicates().values)

In [13]:
gudong16_df.sort_index()

          기간    구    동   전용면적    계약년월  거래금액(만원)
0       2016  강남구  개포동  77.75  201603     75000
1       2016  강남구  개포동  77.75  201604     71000
2       2016  강남구  개포동  77.75  201605     76900
3       2016  강남구  개포동  77.75  201605     75500
4       2016  강남구  개포동  77.75  201612     80000
...      ...  ...  ...    ...     ...       ...
110195  2016  중랑구  중화동  84.69  201602     27000
110196  2016  중랑구  중화동  84.69  201605     30000
110197  2016  중랑구  중화동  67.44  201610     25700
110198  2016  중랑구  중화동  67.57  201602     22300
110199  2016  중랑구  중화동  95.94  201612     32000

[110200 rows x 6 columns]

In [14]:
gudong16_df[gudong16_df.구 == '강남구']

        기간    구    동    전용면적    계약년월  거래금액(만원)
0     2016  강남구  개포동  77.750  201603     75000
1     2016  강남구  개포동  77.750  201604     71000
2     2016  강남구  개포동  77.750  201605     76900
3     2016  강남구  개포동  77.750  201605     75500
4     2016  강남구  개포동  77.750  201612     80000
...    ...  ...  ...     ...     ...       ...
6753  2016  강남구  청담동  35.905  201603     45700
6754  2016  강남구  청담동  35.905  201604     44500
6755  2016  강남구  청담동  35.905  201607     46000
6756  2016  강남구  청담동  35.905  201608     51000
6757  2016  강남구  청담동  39.950  201612     50000

[6758 rows x 6 columns]

In [15]:
# 65이하 전용면적 0 
# 65이상 99미만  전용면적 1
# 99이상 135미만 전용면적 2
# 135이상 165미만 전용면적 3
# 165이상 전용면적 4


# 16년도
gudong16_df.loc[gudong16_df['전용면적'] < 65.0, '전용면적'] = 0
gudong16_df.loc[((gudong16_df['전용면적'] >=65.0 ) & (gudong16_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong16_df.loc[((gudong16_df['전용면적'] >=99.0) & (gudong16_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong16_df.loc[((gudong16_df['전용면적'] >=135.0) & (gudong16_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong16_df.loc[gudong16_df['전용면적'] >= 165.0 , '전용면적'] = 4


# 17년도
gudong17_df.loc[gudong17_df['전용면적'] < 65.0, '전용면적'] = 0
gudong17_df.loc[((gudong17_df['전용면적'] >=65.0 ) & (gudong17_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong17_df.loc[((gudong17_df['전용면적'] >=99.0) & (gudong17_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong17_df.loc[((gudong17_df['전용면적'] >=135.0) & (gudong17_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong17_df.loc[gudong17_df['전용면적'] >= 165.0 , '전용면적'] = 4



# 18년도
gudong18_df.loc[gudong18_df['전용면적'] < 65.0, '전용면적'] = 0
gudong18_df.loc[((gudong18_df['전용면적'] >=65.0 ) & (gudong18_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong18_df.loc[((gudong18_df['전용면적'] >=99.0) & (gudong18_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong18_df.loc[((gudong18_df['전용면적'] >=135.0) & (gudong18_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong18_df.loc[gudong18_df['전용면적'] >= 165.0 , '전용면적'] = 4


# 19년도
gudong19_df.loc[gudong19_df['전용면적'] < 65.0, '전용면적'] = 0
gudong19_df.loc[((gudong19_df['전용면적'] >=65.0 ) & (gudong19_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong19_df.loc[((gudong19_df['전용면적'] >=99.0) & (gudong19_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong19_df.loc[((gudong19_df['전용면적'] >=135.0) & (gudong19_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong19_df.loc[gudong19_df['전용면적'] >= 165.0 , '전용면적'] = 4



x = (gudong16_df['전용면적'].value_counts())
y = (gudong16_df['계약년월'].value_counts())

In [16]:
gudong16_unique = gudong16_df['구'].unique()

gudong16_unique

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [17]:
type(list(gudong16_df[gudong16_df['구']=='강남구']))

list

In [18]:
# 구 동 단지별 전용 면적별 최소, 최대금액 & 거랙금액 최소 최대금액 & 계약건수 확인
gudong16_df_agg= gudong16_df.groupby(['기간','구', '동', '전용면적']).agg({  
                                                  '계약년월' : 'count'
                                                             
                                            })

gudong16_df_agg.info()


gudong17_df_agg= gudong17_df.groupby(['기간', '구', '동', '전용면적']).agg({  
                                                  
                                                  '계약년월' : 'count'
                                                             
                                            })

gudong17_df_agg.info()

gudong18_df_agg= gudong18_df.groupby(['기간', '구', '동', '전용면적']).agg({  
                                                  
                                                  '계약년월' : 'count'
                                                             
                                            })

gudong18_df_agg.info()

gudong19_df_agg= gudong19_df.groupby(['기간', '구', '동', '전용면적']).agg({  
                                                  
                                                  '계약년월' : 'count'
                                                             
                                            })

gudong19_df_agg.info()



# gudong16_df_agg.rename(gudong16_df_agg[key],'계약건수')

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1044 entries, (2016, 강남구, 개포동, 0.0) to (2016, 중랑구, 중화동, 1.0)
Data columns (total 1 columns):
계약년월    1044 non-null int64
dtypes: int64(1)
memory usage: 16.2+ KB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1043 entries, (2017, 강남구, 개포동, 0.0) to (2017, 중랑구, 중화동, 2.0)
Data columns (total 1 columns):
계약년월    1043 non-null int64
dtypes: int64(1)
memory usage: 16.2+ KB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1049 entries, (2018, 강남구, 개포동, 0.0) to (2018, 중랑구, 중화동, 2.0)
Data columns (total 1 columns):
계약년월    1049 non-null int64
dtypes: int64(1)
memory usage: 16.3+ KB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1025 entries, (2019, 강남구, 개포동, 0.0) to (2019, 중랑구, 중화동, 1.0)
Data columns (total 1 columns):
계약년월    1025 non-null int64
dtypes: int64(1)
memory usage: 16.1+ KB

In [19]:
gudong16_df_agg.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1044 entries, (2016, 강남구, 개포동, 0.0) to (2016, 중랑구, 중화동, 1.0)
Data columns (total 1 columns):
계약년월    1044 non-null int64
dtypes: int64(1)
memory usage: 16.2+ KB

In [54]:
# 16년도 구, 동 전용면적별 최소 & 최대 & 평균금액 & 계약 건수 파일 저장. 
gudong16_df_agg.to_csv('gudong16_df_agg2.csv', encoding='ANSI')

gudong17_df_agg.to_csv('gudong17_df_agg2.csv', encoding='ANSI')

gudong18_df_agg.to_csv('gudong18_df_agg2.csv', encoding='ANSI')

gudong19_df_agg.to_csv('gudong19_df_agg2.csv', encoding='ANSI')

In [55]:
apart16_d = pd.read_csv('gudong16_df_agg2.csv', encoding='ANSI')
apart17_d = pd.read_csv('gudong17_df_agg2.csv', encoding='ANSI')
apart18_d = pd.read_csv('gudong18_df_agg2.csv', encoding='ANSI')
apart19_d = pd.read_csv('gudong19_df_agg2.csv', encoding='ANSI')

In [56]:
apart16_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 5 columns):
기간      1044 non-null int64
구       1044 non-null object
동       1044 non-null object
전용면적    1044 non-null float64
계약년월    1044 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 40.9+ KB

# Project day3

In [ ]:
# ▼원하는 구를 입력 하면 관련 동, 전용면적, 계약건수가 나타나는 함수.

def search_apart16():
    ans = input('구를 입력 ... :')
    return apart16_d.loc[apart16_d['구'] == ans][['동', '전용면적', '계약년월']]  
def search_apart17():
    ans = input('구를 입력 ... :')
    return apart17_d.loc[apart16_d['구'] == ans][['동', '전용면적', '계약년월']]
def search_apart18():
    ans = input('구를 입력 ... :')
    return apart18_d.loc[apart16_d['구'] == ans][['동', '전용면적', '계약년월']]
def search_apart19():
    ans = input('구를 입력 ... :')
    return apart19_d.loc[apart16_d['구'] == ans][['동', '전용면적', '계약년월']]

# Project Day4
- todo-list
- 전용면적별 매매건수 NaN 데이터 -> 0 으로 변경. 
- 전용면적별 매매건수 확인.
- 구를 입력하면 전용면적별 계약건수 보여주는 시각화 함수 생성하기.

In [67]:
# 데이터 병합. - Error
# big_df = apart16_d.merge(apart17_d, how= 'left').merge(apart18_d, how='left').merge(apart19_d, how = 'left')
# big_df.to_csv('big_df.csv', encoding='ANSI')

In [68]:
## 데이터 병합Error
# pd.concat([apart16_d, apart17_d, apart18_d, apart19_d])
# big_df.to_csv('big_df.csv', encoding ='ANSI')

In [69]:
apart16_d.describe()

           기간         전용면적         계약년월
count  1044.0  1044.000000  1044.000000
mean   2016.0     1.526820   105.555556
std       0.0     1.260906   196.044083
min    2016.0     0.000000     1.000000
25%    2016.0     0.000000     8.000000
50%    2016.0     1.000000    31.000000
75%    2016.0     2.000000   117.500000
max    2016.0     4.000000  3160.000000

In [113]:
unpivoted16 = apart16_d.groupby(['구', '전용면적'])['계약년월'].sum().reset_index()
pivoted16 = unpivoted16.pivot(columns = '전용면적', index = '구', values = '계약년월')

# 2016년 구별 전용면적별 아파트 매매 건수.
pivoted16

전용면적     0.0     1.0     2.0    3.0    4.0
구
강남구   2350.0  2335.0  1275.0  523.0  275.0
강동구   2181.0  2873.0   773.0   47.0   18.0
강북구    791.0   958.0   188.0    4.0    1.0
강서구   2978.0  3278.0   765.0   72.0   26.0
관악구   1492.0  1367.0   472.0   24.0    7.0
광진구    710.0  1203.0   197.0  137.0   50.0
구로구   2476.0  2578.0   526.0   60.0   18.0
금천구    758.0   745.0   220.0    5.0    NaN
노원구   6904.0  3250.0   769.0   42.0    1.0
도봉구   2215.0  2208.0   312.0   32.0    8.0
동대문구  1306.0  1867.0   616.0   38.0    8.0
동작구   1207.0  2501.0   809.0   87.0   12.0
마포구   1362.0  2062.0   621.0  170.0   23.0
서대문구  1132.0  1676.0   527.0   89.0   34.0
서초구    863.0  1992.0  1090.0  464.0  393.0
성동구   1333.0  2000.0   613.0   51.0   27.0
성북구   1950.0  2239.0   911.0   35.0   60.0
송파구   2340.0  3708.0  1050.0  378.0   88.0
양천구   1733.0  2922.0   645.0  286.0   41.0
영등포구  1653.0  2179.0   564.0  217.0   43.0
용산구    649.0   807.0   506.0  206.0  269.0
은평구   1145.0  1902.0   612.0   27.0   84.0
종로구    305.0   312.0   117.0   57.0   38.0
중구     353.0   629.0   280.0  109.0   46.0
중랑구   1425.0  1478.0   319.0    9.0    4.0

In [114]:
unpivoted17= apart17_d.groupby(['구', '전용면적'])['계약년월'].sum().reset_index()
pivoted17 = unpivoted17.pivot(columns = '전용면적', index = '구', values = '계약년월')

# 2017년 구별 전용면적별 아파트 매매 건수. 
pivoted17

전용면적     0.0     1.0     2.0    3.0    4.0
구
강남구   2238.0  2524.0  1553.0  643.0  306.0
강동구   1820.0  3419.0   838.0   64.0   16.0
강북구    785.0   839.0   210.0    3.0    2.0
강서구   2592.0  2606.0   641.0   68.0   21.0
관악구   1434.0  1362.0   524.0   24.0   10.0
광진구    648.0  1311.0   225.0  167.0   46.0
구로구   2159.0  2255.0   433.0   54.0   20.0
금천구    695.0   628.0   195.0    3.0    NaN
노원구   6312.0  2935.0   707.0   88.0    3.0
도봉구   1869.0  1952.0   253.0   35.0   25.0
동대문구  1464.0  1695.0   677.0   28.0    5.0
동작구   1030.0  2129.0   868.0   86.0   11.0
마포구   1481.0  1801.0   629.0  125.0   22.0
서대문구  1164.0  1380.0   376.0   52.0   14.0
서초구    920.0  2182.0  1225.0  463.0  434.0
성동구   1457.0  2160.0   723.0   91.0   20.0
성북구   1980.0  2117.0   753.0   32.0   14.0
송파구   2329.0  4042.0  1199.0  460.0  125.0
양천구   1451.0  2474.0   691.0  203.0   36.0
영등포구  1629.0  2004.0   562.0  204.0   40.0
용산구    616.0   830.0   594.0  173.0  268.0
은평구    942.0  1390.0   419.0   23.0   22.0
종로구    298.0   319.0   120.0   54.0   25.0
중구     411.0   484.0   257.0   46.0   13.0
중랑구   1346.0  1438.0   366.0    6.0    NaN

In [115]:
unpivoted18= apart18_d.groupby(['구', '전용면적'])['계약년월'].sum().reset_index()
pivoted18 = unpivoted18.pivot(columns = '전용면적', index = '구', values = '계약년월')

# 2018년 구별 전용면적별 아파트 매매 건수. 
pivoted18

전용면적     0.0     1.0    2.0    3.0    4.0
구
강남구   1003.0  1195.0  693.0  399.0  226.0
강동구   1242.0  2040.0  459.0   35.0   18.0
강북구    755.0   930.0  289.0    7.0    NaN
강서구   2215.0  2233.0  630.0   66.0   34.0
관악구   1184.0  1142.0  494.0   28.0    8.0
광진구    432.0   723.0  139.0  131.0   36.0
구로구   1986.0  2041.0  465.0   53.0   20.0
금천구    651.0   687.0  216.0    2.0    NaN
노원구   5220.0  2613.0  669.0   61.0    NaN
도봉구   1663.0  1883.0  312.0   37.0   22.0
동대문구  1202.0  1330.0  493.0   25.0    5.0
동작구    784.0  1274.0  571.0   73.0   14.0
마포구   1021.0  1299.0  466.0  113.0   28.0
서대문구   949.0  1295.0  381.0   44.0   11.0
서초구    578.0  1094.0  748.0  355.0  323.0
성동구   1105.0  1256.0  418.0   68.0   21.0
성북구   1804.0  2182.0  915.0   27.0   11.0
송파구   1380.0  2143.0  681.0  284.0  126.0
양천구   1292.0  1867.0  489.0  187.0   47.0
영등포구  1246.0  1439.0  404.0  173.0   41.0
용산구    425.0   456.0  402.0  176.0  240.0
은평구   1094.0  1603.0  577.0   48.0   40.0
종로구    279.0   238.0  124.0   60.0   20.0
중구     423.0   451.0  280.0   75.0   21.0
중랑구   1149.0  1335.0  390.0    9.0    3.0

In [116]:
unpivoted19= apart19_d.groupby(['구', '전용면적'])['계약년월'].sum().reset_index()
pivoted19 = unpivoted19.pivot(columns = '전용면적', index = '구', values = '계약년월')

# 2018년 구별 전용면적별 아파트 매매 건수. 
pivoted19

전용면적     0.0     1.0    2.0    3.0    4.0
구
강남구   1368.0  1666.0  881.0  431.0  235.0
강동구   1526.0  2004.0  493.0   30.0    8.0
강북구    586.0   580.0  157.0    3.0    NaN
강서구   1705.0  1519.0  367.0   38.0   17.0
관악구   1083.0   870.0  312.0   16.0    5.0
광진구    521.0   870.0  120.0  135.0   38.0
구로구   1641.0  1523.0  304.0   28.0   12.0
금천구    687.0   644.0  155.0    6.0    NaN
노원구   4518.0  2135.0  504.0   39.0    3.0
도봉구   1396.0  1322.0  191.0   29.0   13.0
동대문구  1243.0  1103.0  341.0   16.0    5.0
동작구    770.0  1338.0  421.0   58.0   10.0
마포구   1175.0  1236.0  339.0   75.0   15.0
서대문구  1039.0  1185.0  280.0   36.0   10.0
서초구    647.0  1324.0  617.0  289.0  241.0
성동구   1332.0  1436.0  408.0   36.0   21.0
성북구   1612.0  1581.0  538.0   20.0   12.0
송파구   1575.0  2809.0  849.0  380.0  100.0
양천구   1192.0  1926.0  471.0  188.0   45.0
영등포구  1392.0  1272.0  279.0  142.0   39.0
용산구    456.0   397.0  308.0  123.0  194.0
은평구   1029.0   992.0  283.0   14.0   22.0
종로구    252.0   236.0   66.0   40.0   15.0
중구     364.0   385.0  180.0   34.0   20.0
중랑구   1072.0   953.0  281.0    6.0    1.0

In [100]:
# 구, 전용면적 별 매매건수 csv 파일 저장. 
pivoted16.to_csv('pivoted16.csv', encoding= 'ANSI')
pivoted17.to_csv('pivoted17.csv', encoding= 'ANSI')
pivoted18.to_csv('pivoted18.csv', encoding= 'ANSI')
pivoted19.to_csv('pivoted19.csv', encoding= 'ANSI')

# 시각화 함수.

- 65이하 전용면적 0 
- 65이상 99미만  전용면적 1
- 99이상 135미만 전용면적 2
- 135이상 165미만 전용면적 3
- 165이상 전용면적 4

In [112]:
import matplotlib.pyplot as plt

# 시각화 함수,.
def bar_chart(feature) :
    pivoted16 = pd.read_csv('pivoted16.csv', encoding='ANSI')
    # 구별 전용면적에 따를 매매 건수를 count 한다.
    pivoted16 = pivoted16[pivoted16['전용면적'] == 0][feature]
    ans = input('구를 입력 ... :')
    pivoted16.loc[pivoted16_d['구'] == ans][['동', '전용면적', '계약년월']]