# Project Day2
- to-do 
- 전용면적 4구간 으로 나눠 그룹화
- object -> 숫자로 변환
- 구/동/전용면적 별 최소 & 최대 & 평균금액 & 계약 건수 출력.

In [183]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

from matplotlib import rcParams
plt.rc('font', family='Malgun Gothic')
plt.rc('font', size='10')

In [184]:
# 새 데이터 불러오기 
gudong16_df = pd.read_csv('gudong16.csv', encoding='ANSI')
gudong17_df = pd.read_csv('gudong17.csv', encoding='ANSI')
gudong18_df = pd.read_csv('gudong18.csv', encoding='ANSI')
gudong19_df = pd.read_csv('gudong19.csv', encoding='ANSI')

In [185]:
gudong16_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110200 entries, 0 to 110199
Data columns (total 6 columns):
기간          110200 non-null int64
구           110200 non-null object
동           110200 non-null object
전용면적        110200 non-null float64
계약년월        110200 non-null int64
거래금액(만원)    110200 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.0+ MB

In [186]:
## object -> 숫자로 변환하기.
gudong16_df['거래금액(만원)'] = gudong16_df['거래금액(만원)'].replace('[\,]', '', regex=True)
gudong16_df['거래금액(만원)'] = pd.to_numeric(gudong16_df['거래금액(만원)'])

gudong16_df['계약년월'].sum()

for i in gudong16_df['계약년월'].value_counts(): 
    total = 0
    if gudong16_df['계약년월'][i].ischarAt():
        total = total +1
        print(total)

In [187]:
gudong16_df['계약년월']

0         201603
1         201604
2         201605
3         201605
4         201612
           ...
110195    201602
110196    201605
110197    201610
110198    201602
110199    201612
Name: 계약년월, Length: 110200, dtype: int64

In [188]:


# 16년도 데이터
gu_transactions_count = pd.DataFrame({
                '기간' : 2016,
                '구' : gudong16_df['구'],
                '계약년월' : gudong16_df['계약년월']
})


gu16_transactions_count= gu_transactions_count.groupby(['기간','구']).agg({  
                                                  '계약년월' : 'count'
                                                             
                                            })
                                           
                                        
gu16_transactions_count.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 



# 17년도 데이터
gu_transactions_count = pd.DataFrame({
                '기간' : 2017,
                '구' : gudong17_df['구'],
                '계약년월' : gudong17_df['계약년월']
})

gu17_transactions_count= gu_transactions_count.groupby(['기간','구']).agg({  
                                                  '계약년월' : 'count'
                                                             
                                            })
                                           

gu17_transactions_count.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 




# 18년도 데이터
gu_transactions_count = pd.DataFrame({
                '기간' : 2018,
                '구' : gudong18_df['구'],
                '계약년월' : gudong18_df['계약년월']
})


gu18_transactions_count= gu_transactions_count.groupby(['기간','구']).agg({  
                                                  '계약년월' : 'count'
                                                             
                                            })

gu18_transactions_count.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 




# 19년도 데이터
gu_transactions_count = pd.DataFrame({
                '기간' : 2019,
                '구' : gudong19_df['구'],
                '계약년월' : gudong19_df['계약년월']
})

gu19_transactions_count= gu_transactions_count.groupby(['기간','구']).agg({  
                                                  '계약년월' : 'count'
                                                             
                                            })

gu19_transactions_count.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 




gu16_transactions_count

            계약건수
기간   구
2016 강남구    6758
     강동구    5892
     강북구    1942
     강서구    7119
     관악구    3362
     광진구    2297
     구로구    5658
     금천구    1728
     노원구   10966
     도봉구    4775
     동대문구   3835
     동작구    4616
     마포구    4238
     서대문구   3458
     서초구    4802
     성동구    4024
     성북구    5195
     송파구    7564
     양천구    5627
     영등포구   4656
     용산구    2437
     은평구    3770
     종로구     829
     중구     1417
     중랑구    3235

In [189]:
gu16_transactions_count.to_csv('gu16_transactions_count.csv', encoding='ANSI')
gu17_transactions_count.to_csv('gu17_transactions_count.csv', encoding='ANSI')
gu18_transactions_count.to_csv('gu18_transactions_count.csv', encoding='ANSI')
gu19_transactions_count.to_csv('gu19_transactions_count.csv', encoding='ANSI')

In [190]:
# 년도별 
gudong16_transactions = gudong16_df['계약년월']



# 16년도 데이터
year16_count= pd.DataFrame({
                '기간' : 2016,
                '구' : gudong16_df['구'],
                '계약년월' : gudong16_df['계약년월']
                
})

year16_count= year16_count.groupby(['기간']).agg({  
                                                  '계약년월' : 'count' 
    
                                            })
year16_count.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 




# 17년도 데이터
year17_count = pd.DataFrame({
                '기간' : 2017,
                '구' : gudong17_df['구'],
                '계약년월' : gudong17_df['계약년월']
    
    
})

year17_count = year17_count.groupby(['기간']).agg({  
                                                  '계약년월' : 'count' 
    
                                                             
                                            })
year17_count.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 




# 18년도 데이터
year18_count = pd.DataFrame({
                '기간' : 2018,
                '구' : gudong18_df['구'],
                '계약년월' : gudong18_df['계약년월']
})

year18_count = year18_count.groupby(['기간']).agg({  
                                                  '계약년월' : 'count' 
                                                             
                                            })
year18_count.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 




# 19년도 데이터
year19_count = pd.DataFrame({
                '기간' : 2019,
                '구' : gudong19_df['구'],
                '계약년월' : gudong19_df['계약년월']
})

year19_count = year19_count.groupby(['기간']).agg({  
                                                  '계약년월' : 'count' 
                                                             
                                            })
year19_count.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 




year19_count.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 2019 to 2019
Data columns (total 1 columns):
계약건수    1 non-null int64
dtypes: int64(1)
memory usage: 16.0 bytes

In [191]:
year16_count.to_csv('year16_count.csv', encoding='ANSI')
year17_count.to_csv('year17_count.csv', encoding='ANSI')
year18_count.to_csv('year18_count.csv', encoding='ANSI')
year19_count.to_csv('year19_count.csv', encoding='ANSI')

#x = ['강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구',
 '도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구','성북구',
 '송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구']
#y = list(gu16_transactions_count.계약건수)

In [195]:

plot.set_xlabel("서울시구")

plot.set_ylabel("거래건수")
plt.title("2016년 구별 아파트 매매건수" )
plt.plot(x,y)
plt.show()
#df = [gu16_transactions_count.계약건수 for i in range(len(gu16_transactions_count.index))]
#df.plot(kind='bar')

NameError: name 'plot' is not defined

In [196]:
gu16_transactions_count.index

MultiIndex([(2016,  '강남구'),
            (2016,  '강동구'),
            (2016,  '강북구'),
            (2016,  '강서구'),
            (2016,  '관악구'),
            (2016,  '광진구'),
            (2016,  '구로구'),
            (2016,  '금천구'),
            (2016,  '노원구'),
            (2016,  '도봉구'),
            (2016, '동대문구'),
            (2016,  '동작구'),
            (2016,  '마포구'),
            (2016, '서대문구'),
            (2016,  '서초구'),
            (2016,  '성동구'),
            (2016,  '성북구'),
            (2016,  '송파구'),
            (2016,  '양천구'),
            (2016, '영등포구'),
            (2016,  '용산구'),
            (2016,  '은평구'),
            (2016,  '종로구'),
            (2016,   '중구'),
            (2016,  '중랑구')],
           names=['기간', '구'])

In [197]:
gudong16_transactions.index

RangeIndex(start=0, stop=110200, step=1)

import matplotlib.pyplot as plt

# 시각화 함수
def bar_chart(feature) :
    # 특성에 따라 생존자 수를 구한다.
    survived_df = train_df[train_df['Survived'] == 1][feature]
    survived = survived_df.value_counts()
    
    dead_df = train_df[train_df['Survived'] == 0][feature]
    dead = dead_df.value_counts()
    
    # 시각화를 위해 데이터프레임을 생성한다.
    df = pd.DataFrame([survived, dead])
    # 인덱스
    df.index = ['Survived', 'Dead']
    # 그린다.
    df.plot(kind='bar', figsize=(10, 5))
    
# 결측치, 최대, 최소 수 확인
def show_info(feature) :
    print(f"결측치 수 : {train_df[feature].isnull().sum()}")
    print(f"최대 수 : {train_df[feature].max()}")
    print(f"최소 수 : {train_df[feature].min()}")
    print(train_df[feature].value_counts())
    print(train_df[feature].drop_duplicates().values)

In [198]:
gudong16_df.sort_index()

          기간    구    동   전용면적    계약년월  거래금액(만원)
0       2016  강남구  개포동  77.75  201603     75000
1       2016  강남구  개포동  77.75  201604     71000
2       2016  강남구  개포동  77.75  201605     76900
3       2016  강남구  개포동  77.75  201605     75500
4       2016  강남구  개포동  77.75  201612     80000
...      ...  ...  ...    ...     ...       ...
110195  2016  중랑구  중화동  84.69  201602     27000
110196  2016  중랑구  중화동  84.69  201605     30000
110197  2016  중랑구  중화동  67.44  201610     25700
110198  2016  중랑구  중화동  67.57  201602     22300
110199  2016  중랑구  중화동  95.94  201612     32000

[110200 rows x 6 columns]

In [199]:
gudong16_df[gudong16_df.구 == '강남구']

        기간    구    동    전용면적    계약년월  거래금액(만원)
0     2016  강남구  개포동  77.750  201603     75000
1     2016  강남구  개포동  77.750  201604     71000
2     2016  강남구  개포동  77.750  201605     76900
3     2016  강남구  개포동  77.750  201605     75500
4     2016  강남구  개포동  77.750  201612     80000
...    ...  ...  ...     ...     ...       ...
6753  2016  강남구  청담동  35.905  201603     45700
6754  2016  강남구  청담동  35.905  201604     44500
6755  2016  강남구  청담동  35.905  201607     46000
6756  2016  강남구  청담동  35.905  201608     51000
6757  2016  강남구  청담동  39.950  201612     50000

[6758 rows x 6 columns]

In [200]:
# 65이하 전용면적 0 
# 65이상 99미만  전용면적 1
# 99이상 135미만 전용면적 2
# 135이상 165미만 전용면적 3
# 165이상 전용면적 4


# 16년도
gudong16_df.loc[gudong16_df['전용면적'] < 65.0, '전용면적'] = 0
gudong16_df.loc[((gudong16_df['전용면적'] >=65.0 ) & (gudong16_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong16_df.loc[((gudong16_df['전용면적'] >=99.0) & (gudong16_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong16_df.loc[((gudong16_df['전용면적'] >=135.0) & (gudong16_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong16_df.loc[gudong16_df['전용면적'] >= 165.0 , '전용면적'] = 4


# 17년도
gudong17_df.loc[gudong17_df['전용면적'] < 65.0, '전용면적'] = 0
gudong17_df.loc[((gudong17_df['전용면적'] >=65.0 ) & (gudong17_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong17_df.loc[((gudong17_df['전용면적'] >=99.0) & (gudong17_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong17_df.loc[((gudong17_df['전용면적'] >=135.0) & (gudong17_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong17_df.loc[gudong17_df['전용면적'] >= 165.0 , '전용면적'] = 4



# 18년도
gudong18_df.loc[gudong18_df['전용면적'] < 65.0, '전용면적'] = 0
gudong18_df.loc[((gudong18_df['전용면적'] >=65.0 ) & (gudong18_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong18_df.loc[((gudong18_df['전용면적'] >=99.0) & (gudong18_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong18_df.loc[((gudong18_df['전용면적'] >=135.0) & (gudong18_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong18_df.loc[gudong18_df['전용면적'] >= 165.0 , '전용면적'] = 4


# 19년도
gudong19_df.loc[gudong19_df['전용면적'] < 65.0, '전용면적'] = 0
gudong19_df.loc[((gudong19_df['전용면적'] >=65.0 ) & (gudong19_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong19_df.loc[((gudong19_df['전용면적'] >=99.0) & (gudong19_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong19_df.loc[((gudong19_df['전용면적'] >=135.0) & (gudong19_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong19_df.loc[gudong19_df['전용면적'] >= 165.0 , '전용면적'] = 4



x = (gudong16_df['전용면적'].value_counts())
y = (gudong16_df['계약년월'].value_counts())

In [201]:
gudong16_unique = gudong16_df['구'].unique()

gudong16_unique

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [202]:
gudong19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73925 entries, 0 to 73924
Data columns (total 6 columns):
기간          73925 non-null int64
구           73925 non-null object
동           73925 non-null object
전용면적        73925 non-null float64
계약년월        73925 non-null int64
거래금액(만원)    73925 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 3.4+ MB

In [203]:
type(list(gudong16_df[gudong16_df['구']=='강남구']))

list

In [204]:
# 구 동 단지별 전용 면적별 최소, 최대금액 & 거랙금액 최소 최대금액 & 계약건수 확인
gudong16_df_agg= gudong16_df.groupby(['기간','구', '전용면적']).agg({  
                                                  '계약년월' : 'count'
                                                             
                                            })
gudong16_df_agg.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 

gudong16_df_agg.info()


gudong17_df_agg= gudong17_df.groupby(['기간','구', '전용면적']).agg({  
                                                  
                                                  '계약년월' : 'count'
                                                             
                                            })
gudong17_df_agg.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 

gudong17_df_agg.info()

gudong18_df_agg= gudong18_df.groupby(['기간', '구', '전용면적']).agg({  
                                                  
                                                  '계약년월' : 'count'
                                                             
                                            })
gudong18_df_agg.rename(columns = {'계약년월' : '계약건수'}, inplace = True)
gudong18_df_agg.info()

                                      
                                      
gudong19_df_agg= gudong19_df.groupby(['기간', '구', '전용면적']).agg({  
                                                  
                                                  '계약년월' : 'count'
                                                             
                                            })
gudong19_df_agg.rename(columns = {'계약년월' : '계약건수'}, inplace = True) 

gudong19_df_agg.info()



# gudong16_df_agg.rename(gudong16_df_agg[key],'계약건수')

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 124 entries, (2016, 강남구, 0.0) to (2016, 중랑구, 4.0)
Data columns (total 1 columns):
계약건수    124 non-null int64
dtypes: int64(1)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 123 entries, (2017, 강남구, 0.0) to (2017, 중랑구, 3.0)
Data columns (total 1 columns):
계약건수    123 non-null int64
dtypes: int64(1)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 122 entries, (2018, 강남구, 0.0) to (2018, 중랑구, 4.0)
Data columns (total 1 columns):
계약건수    122 non-null int64
dtypes: int64(1)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 123 entries, (2019, 강남구, 0.0) to (2019, 중랑구, 4.0)
Data columns (total 1 columns):
계약건수    123 non-null int64
dtypes: int64(1)
memory usage: 1.8+ KB

In [205]:
gudong19_df_agg

               계약건수
기간   구   전용면적
2019 강남구 0.0   1368
         1.0   1666
         2.0    881
         3.0    431
         4.0    235
...             ...
     중랑구 0.0   1072
         1.0    953
         2.0    281
         3.0      6
         4.0      1

[123 rows x 1 columns]

In [206]:
gudong16_df_agg.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 124 entries, (2016, 강남구, 0.0) to (2016, 중랑구, 4.0)
Data columns (total 1 columns):
계약건수    124 non-null int64
dtypes: int64(1)
memory usage: 1.8+ KB

In [207]:
# 16년도 구, 동 전용면적별 최소 & 최대 & 평균금액 & 계약 건수 파일 저장. 
gudong16_df_agg.to_csv('gudong16_df_agg.csv', encoding='ANSI')

gudong17_df_agg.to_csv('gudong17_df_agg.csv', encoding='ANSI')

gudong18_df_agg.to_csv('gudong18_df_agg.csv', encoding='ANSI')

gudong19_df_agg.to_csv('gudong19_df_agg.csv', encoding='ANSI')

In [208]:
gudong16_df_agg = pd.read_csv('gudong16_df_agg.csv', encoding='ANSI')
gudong17_df_agg = pd.read_csv('gudong17_df_agg.csv', encoding='ANSI')
gudong18_df_agg = pd.read_csv('gudong18_df_agg.csv', encoding='ANSI')
gudong19_df_agg = pd.read_csv('gudong19_df_agg.csv', encoding='ANSI')

In [209]:
gudong19_df_agg

       기간    구  전용면적  계약건수
0    2019  강남구   0.0  1368
1    2019  강남구   1.0  1666
2    2019  강남구   2.0   881
3    2019  강남구   3.0   431
4    2019  강남구   4.0   235
..    ...  ...   ...   ...
118  2019  중랑구   0.0  1072
119  2019  중랑구   1.0   953
120  2019  중랑구   2.0   281
121  2019  중랑구   3.0     6
122  2019  중랑구   4.0     1

[123 rows x 4 columns]

In [210]:
gudong17_df_agg

       기간    구  전용면적  계약건수
0    2017  강남구   0.0  2238
1    2017  강남구   1.0  2524
2    2017  강남구   2.0  1553
3    2017  강남구   3.0   643
4    2017  강남구   4.0   306
..    ...  ...   ...   ...
118  2017   중구   4.0    13
119  2017  중랑구   0.0  1346
120  2017  중랑구   1.0  1438
121  2017  중랑구   2.0   366
122  2017  중랑구   3.0     6

[123 rows x 4 columns]

# Project day3

In [211]:
# ▼원하는 구를 입력 하면 관련 동, 전용면적, 계약건수가 나타나는 함수.

def search_apart16():
    ans = input('구를 입력 ... :')
    return apart16_d.loc[apart16_d['구'] == ans][['동', '전용면적', '계약년월']]  
def search_apart17():
    ans = input('구를 입력 ... :')
    return apart17_d.loc[apart16_d['구'] == ans][['동', '전용면적', '계약년월']]
def search_apart18():
    ans = input('구를 입력 ... :')
    return apart18_d.loc[apart16_d['구'] == ans][['동', '전용면적', '계약년월']]
def search_apart19():
    ans = input('구를 입력 ... :')
    return apart19_d.loc[apart16_d['구'] == ans][['동', '전용면적', '계약년월']]

# Project Day4
- todo-list
- 전용면적별 매매건수 NaN 데이터 -> 0 으로 변경. 
- 전용면적별 매매건수 확인.
- 구를 입력하면 전용면적별 계약건수 보여주는 시각화 함수 생성하기.

In [212]:
# 데이터 병합. - Error
# big_df = apart16_d.merge(apart17_d, how= 'left').merge(apart18_d, how='left').merge(apart19_d, how = 'left')
# big_df.to_csv('big_df.csv', encoding='ANSI')

In [213]:
## 데이터 병합Error
# pd.concat([apart16_d, apart17_d, apart18_d, apart19_d])
# big_df.to_csv('big_df.csv', encoding ='ANSI')

In [214]:
unpivoted16 = gudong16_df_agg2.groupby(['구', '전용면적'])['계약건수'].sum().reset_index()
pivoted16 = unpivoted16.pivot(columns = '전용면적', index = '구', values = '계약건수')

# 2016년 구별 전용면적별 아파트 매매 건수.
unpivoted16

       구  전용면적  계약건수
0    강남구   0.0  2350
1    강남구   1.0  2335
2    강남구   2.0  1275
3    강남구   3.0   523
4    강남구   4.0   275
..   ...   ...   ...
119  중랑구   0.0  1425
120  중랑구   1.0  1478
121  중랑구   2.0   319
122  중랑구   3.0     9
123  중랑구   4.0     4

[124 rows x 3 columns]

In [215]:
unpivoted17= gudong17_df_agg2.groupby(['구', '전용면적'])['계약건수'].sum().reset_index()
pivoted17 = unpivoted17.pivot(columns = '전용면적', index = '구', values = '계약건수')

# 2017년 구별 전용면적별 아파트 매매 건수. 
pivoted17

전용면적     0.0     1.0     2.0    3.0    4.0
구
강남구   2238.0  2524.0  1553.0  643.0  306.0
강동구   1820.0  3419.0   838.0   64.0   16.0
강북구    785.0   839.0   210.0    3.0    2.0
강서구   2592.0  2606.0   641.0   68.0   21.0
관악구   1434.0  1362.0   524.0   24.0   10.0
광진구    648.0  1311.0   225.0  167.0   46.0
구로구   2159.0  2255.0   433.0   54.0   20.0
금천구    695.0   628.0   195.0    3.0    NaN
노원구   6312.0  2935.0   707.0   88.0    3.0
도봉구   1869.0  1952.0   253.0   35.0   25.0
동대문구  1464.0  1695.0   677.0   28.0    5.0
동작구   1030.0  2129.0   868.0   86.0   11.0
마포구   1481.0  1801.0   629.0  125.0   22.0
서대문구  1164.0  1380.0   376.0   52.0   14.0
서초구    920.0  2182.0  1225.0  463.0  434.0
성동구   1457.0  2160.0   723.0   91.0   20.0
성북구   1980.0  2117.0   753.0   32.0   14.0
송파구   2329.0  4042.0  1199.0  460.0  125.0
양천구   1451.0  2474.0   691.0  203.0   36.0
영등포구  1629.0  2004.0   562.0  204.0   40.0
용산구    616.0   830.0   594.0  173.0  268.0
은평구    942.0  1390.0   419.0   23.0   22.0
종로구    298.0   319.0   120.0   54.0   25.0
중구     411.0   484.0   257.0   46.0   13.0
중랑구   1346.0  1438.0   366.0    6.0    NaN

In [216]:
unpivoted18= gudong18_df_agg.groupby(['구', '전용면적'])['계약건수'].max().reset_index()
pivoted18 = unpivoted18.pivot(columns = '전용면적', index = '구', values = '계약건수')

# 2018년 구별 전용면적별 아파트 매매 건수. 
pivoted18

전용면적     0.0     1.0    2.0    3.0    4.0
구
강남구   1003.0  1195.0  693.0  399.0  226.0
강동구   1242.0  2040.0  459.0   35.0   18.0
강북구    755.0   930.0  289.0    7.0    NaN
강서구   2215.0  2233.0  630.0   66.0   34.0
관악구   1184.0  1142.0  494.0   28.0    8.0
광진구    432.0   723.0  139.0  131.0   36.0
구로구   1986.0  2041.0  465.0   53.0   20.0
금천구    651.0   687.0  216.0    2.0    NaN
노원구   5220.0  2613.0  669.0   61.0    NaN
도봉구   1663.0  1883.0  312.0   37.0   22.0
동대문구  1202.0  1330.0  493.0   25.0    5.0
동작구    784.0  1274.0  571.0   73.0   14.0
마포구   1021.0  1299.0  466.0  113.0   28.0
서대문구   949.0  1295.0  381.0   44.0   11.0
서초구    578.0  1094.0  748.0  355.0  323.0
성동구   1105.0  1256.0  418.0   68.0   21.0
성북구   1804.0  2182.0  915.0   27.0   11.0
송파구   1380.0  2143.0  681.0  284.0  126.0
양천구   1292.0  1867.0  489.0  187.0   47.0
영등포구  1246.0  1439.0  404.0  173.0   41.0
용산구    425.0   456.0  402.0  176.0  240.0
은평구   1094.0  1603.0  577.0   48.0   40.0
종로구    279.0   238.0  124.0   60.0   20.0
중구     423.0   451.0  280.0   75.0   21.0
중랑구   1149.0  1335.0  390.0    9.0    3.0

In [217]:
unpivoted19= gudong19_df_agg.groupby(['구', '전용면적'])['계약건수'].sum().reset_index()
pivoted19 = unpivoted19.pivot(columns = '전용면적', index = '구', values = '계약건수')
pivoted19.pivot()
# 2018년 구별 전용면적별 아파트 매매 건수. 
pivoted19

전용면적     0.0     1.0    2.0    3.0    4.0
구
강남구   1368.0  1666.0  881.0  431.0  235.0
강동구   1526.0  2004.0  493.0   30.0    8.0
강북구    586.0   580.0  157.0    3.0    NaN
강서구   1705.0  1519.0  367.0   38.0   17.0
관악구   1083.0   870.0  312.0   16.0    5.0
광진구    521.0   870.0  120.0  135.0   38.0
구로구   1641.0  1523.0  304.0   28.0   12.0
금천구    687.0   644.0  155.0    6.0    NaN
노원구   4518.0  2135.0  504.0   39.0    3.0
도봉구   1396.0  1322.0  191.0   29.0   13.0
동대문구  1243.0  1103.0  341.0   16.0    5.0
동작구    770.0  1338.0  421.0   58.0   10.0
마포구   1175.0  1236.0  339.0   75.0   15.0
서대문구  1039.0  1185.0  280.0   36.0   10.0
서초구    647.0  1324.0  617.0  289.0  241.0
성동구   1332.0  1436.0  408.0   36.0   21.0
성북구   1612.0  1581.0  538.0   20.0   12.0
송파구   1575.0  2809.0  849.0  380.0  100.0
양천구   1192.0  1926.0  471.0  188.0   45.0
영등포구  1392.0  1272.0  279.0  142.0   39.0
용산구    456.0   397.0  308.0  123.0  194.0
은평구   1029.0   992.0  283.0   14.0   22.0
종로구    252.0   236.0   66.0   40.0   15.0
중구     364.0   385.0  180.0   34.0   20.0
중랑구   1072.0   953.0  281.0    6.0    1.0

In [218]:
# 결측 값을 0으로 채우기

pivoted16 = pivoted16.fillna(0)
pivoted17 = pivoted17.fillna(0)
pivoted18 = pivoted18.fillna(0)
pivoted19 = pivoted19.fillna(0)

In [219]:
# 다시 group.
pivoted16 = pivoted16.groupby(['구', '전용면적']).agg({'계약건수' : 'count'})
pivoted17 = pivoted17.groupby(['구', '전용면적']).agg({'계약건수' : 'count'})
pivoted18 = pivoted18.groupby(['구', '전용면적']).agg({'계약건수' : 'count'})
pivoted19 = pivoted19.groupby(['구', '전용면적']).agg({'계약건수' : 'count'})

KeyError: '전용면적'

In [161]:
pivoted16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 5 columns):
0.0    25 non-null float64
1.0    25 non-null float64
2.0    25 non-null float64
3.0    25 non-null float64
4.0    25 non-null float64
dtypes: float64(5)
memory usage: 1.2+ KB

In [162]:
pivoted17.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 5 columns):
0.0    25 non-null float64
1.0    25 non-null float64
2.0    25 non-null float64
3.0    25 non-null float64
4.0    25 non-null float64
dtypes: float64(5)
memory usage: 1.2+ KB

In [163]:
pivoted18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 5 columns):
0.0    25 non-null float64
1.0    25 non-null float64
2.0    25 non-null float64
3.0    25 non-null float64
4.0    25 non-null float64
dtypes: float64(5)
memory usage: 1.2+ KB

In [164]:
pivoted19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 5 columns):
0.0    25 non-null float64
1.0    25 non-null float64
2.0    25 non-null float64
3.0    25 non-null float64
4.0    25 non-null float64
dtypes: float64(5)
memory usage: 1.2+ KB

In [165]:
pip install glob

Collecting glob
Note: you may need to restart the kernel to use updated packages.

  ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob

import os
import glob
import sys

input_path = sys.argv[1]
output_file = sys.argv[2]

all_files = glob.glob(os.path.join(input_path, 'pivoted*.csv'))

all_data_frames =[]
for file in all_files :
    df = pd.read_csv(file, index_col=None)
    all_data_frames.append(df)
df_concat = pd.concat(all_data_frames, axis=0, ignore_index = True)
df_concat.to_csv(output_file, index = False)

import glob
import sys
import numpy as np
import pandas as pd
all_data = pd.DataFrame()
for f in glob.glob('C:/Data_Science/Data_analysis_project/프로젝트/pivoted*.csv') : 
    f.encode('ANSI')
    df = pd.read_csv(f)

    all_data = all_data.append(dfm, ignore_index=True)

In [166]:
# 구, 전용면적 별 매매건수 csv 파일 저장. 
pivoted16.to_csv('pivoted16.csv', encoding= 'ANSI')
pivoted17.to_csv('pivoted17.csv', encoding= 'ANSI')
pivoted18.to_csv('pivoted18.csv', encoding= 'ANSI')
pivoted19.to_csv('pivoted19.csv', encoding= 'ANSI')

# result.to_csv('result.csv', encoding='ANSI')

PermissionError: [Errno 13] Permission denied: 'pivoted16.csv'

# 시각화 함수.

- 65이하 전용면적 0 
- 65이상 99미만  전용면적 1
- 99이상 135미만 전용면적 2
- 135이상 165미만 전용면적 3
- 165이상 전용면적 4

In [167]:
pivoted16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 5 columns):
0.0    25 non-null float64
1.0    25 non-null float64
2.0    25 non-null float64
3.0    25 non-null float64
4.0    25 non-null float64
dtypes: float64(5)
memory usage: 1.2+ KB

In [175]:
import matplotlib.pyplot as plt

# 16년도 시각화 함수.
def bar_chart() :
    pivoted16 = pd.read_csv('gudong16.csv', encoding='ANSI')
    # 구별 전용면적에 따를 매매 건수를 count 한다.
    
    feature = input('구를 입력 ... :')
    
    pivoted16[pivoted16.구 == feature]
    
    
    pivoted16.loc[pivoted16['구'] == feature][['전용면적', '계약건수']]

    pivoted16_df0 = pivoted16[pivoted16['구']['전용면적'] == 0][feature]
    pivoted16_0 = pivoted16_df0.value_counts()

    pivoted16_df1 = pivoted16[pivoted16['구']['전용면적'] == 1][feature]
    pivoted16_1 = pivoted16_df1.value_counts()

    pivoted16_df2 = pivoted16[pivoted16['구']['전용면적'] == 2][feature]
    pivoted16_2 = pivoted16_df2.value_counts()

    pivoted16_df3 = pivoted16[pivoted16['구']['전용면적'] == 3][feature]
    pivoted16_3 = pivoted16_df3.value_counts()

    pivoted16_df4 = pivoted16[pivoted16['구']['전용면적'] == 4][feature]
    pivoted16_4 = pivoted16_df4.value_counts()
    
    
    
    df = pd.DataFrame([pivoted16_0, pivoted16_1, pivoted16_2, pivoted16_3, pivoted16_4])
       
    df.index = ['pivoted16_0', 'pivoted16_1', 'pivoted16_2', 'pivoted16_3', 'pivoted16_4']

    df.plot(kind='bar', figsize=(10,5))

In [220]:
bar_chart()

구를 입력 ... :강남구

KeyError: "None of [Index(['전용면적', '계약건수'], dtype='object')] are in the [columns]"

# 시계열 데이터 다루기
- 월별 구의 데이터 건수 구하기.

In [ ]:
pip install pandas_datareader

In [ ]:
pip install pystan

In [ ]:
pip install prophet

In [ ]:
pip install fbprophet

In [ ]:
import warnings
warnings.filterwarnings("ignore")
import pandas_datareader.data as web
%matplotlib inline

from fbprophet import Prophet
from datetime import datetime