# Project Day2

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from matplotlib import rcParams
plt.rc('font', family='Malgun Gothic')
plt.rc('font', size='10')

In [2]:
# 새 데이터 불러오기 
gudong16_df = pd.read_csv('gudong16.csv', encoding='ANSI')
gudong17_df = pd.read_csv('gudong17.csv', encoding='ANSI')
gudong18_df = pd.read_csv('gudong18.csv', encoding='ANSI')
gudong19_df = pd.read_csv('gudong19.csv', encoding='ANSI')

In [3]:
gudong16_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110200 entries, 0 to 110199
Data columns (total 5 columns):
구           110200 non-null object
동           110200 non-null object
전용면적        110200 non-null float64
계약년월        110200 non-null int64
거래금액(만원)    110200 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.2+ MB

In [4]:
## object -> 숫자로 변환하기.
gudong16_df['거래금액(만원)'] = gudong16_df['거래금액(만원)'].replace('[\,]', '', regex=True)
gudong16_df['거래금액(만원)'] = pd.to_numeric(gudong16_df['거래금액(만원)'])

## 오늘 할일. 
- 년도별 거래량 시각화
- 구입력하면 동 조회 함수 완성 (코드 수정.)
- 서울 지도 그리기. (Google API사용)
- 거래금액(만원) 데이터 타입 float 형으로 바꾸기.
- 구별, 동별 묶는 함수 생성. 
- 단지별 전용면적별 거래금액 평균 
- 전용면적 구간 나눠서, 계약년월, 거래 금액 구하기

In [5]:
gudong16_df.head()

     구    동   전용면적    계약년월  거래금액(만원)
0  강남구  개포동  77.75  201603     75000
1  강남구  개포동  77.75  201604     71000
2  강남구  개포동  77.75  201605     76900
3  강남구  개포동  77.75  201605     75500
4  강남구  개포동  77.75  201612     80000

In [6]:
gudong16_df['계약년월'].value_counts()

201606    13292
201610    12175
201607    11831
201609    11325
201608    11024
201605    10853
201604    10469
201603     8897
201611     5766
201602     5364
201601     4990
201612     4214
Name: 계약년월, dtype: int64

In [7]:
gudong17_df['계약년월'].value_counts()

201707    14947
201705    14857
201706    12849
201704     9384
201703     8604
201712     8541
201711     8139
201709     6859
201710     6314
201702     5730
201708     5112
201701     3741
Name: 계약년월, dtype: int64

In [8]:
gudong18_df['계약년월'].value_counts()

201808    14965
201801    12564
201803     9410
201802     9167
201809     7201
201807     7028
201806     5239
201805     4699
201804     4487
201810     3260
201811     1776
201812     1591
Name: 계약년월, dtype: int64

In [9]:
gudong19_df['계약년월'].value_counts()

201910    11522
201911    11487
201907     8818
201912     8677
201909     7003
201906     6916
201908     6608
201905     4398
201904     3037
201903     2277
201901     1727
201902     1455
Name: 계약년월, dtype: int64

In [10]:
gudong16_df.sort_index()

          구    동   전용면적    계약년월  거래금액(만원)
0       강남구  개포동  77.75  201603     75000
1       강남구  개포동  77.75  201604     71000
2       강남구  개포동  77.75  201605     76900
3       강남구  개포동  77.75  201605     75500
4       강남구  개포동  77.75  201612     80000
...     ...  ...    ...     ...       ...
110195  중랑구  중화동  84.69  201602     27000
110196  중랑구  중화동  84.69  201605     30000
110197  중랑구  중화동  67.44  201610     25700
110198  중랑구  중화동  67.57  201602     22300
110199  중랑구  중화동  95.94  201612     32000

[110200 rows x 5 columns]

In [11]:
gudong16_df[gudong16_df.구 == '강남구']

        구    동    전용면적    계약년월  거래금액(만원)
0     강남구  개포동  77.750  201603     75000
1     강남구  개포동  77.750  201604     71000
2     강남구  개포동  77.750  201605     76900
3     강남구  개포동  77.750  201605     75500
4     강남구  개포동  77.750  201612     80000
...   ...  ...     ...     ...       ...
6753  강남구  청담동  35.905  201603     45700
6754  강남구  청담동  35.905  201604     44500
6755  강남구  청담동  35.905  201607     46000
6756  강남구  청담동  35.905  201608     51000
6757  강남구  청담동  39.950  201612     50000

[6758 rows x 5 columns]

In [12]:
gudong16_df.loc[gudong16_df['전용면적'] < 65.0, '전용면적'] = 0
gudong16_df.loc[((gudong16_df['전용면적'] >=65.0 ) & (gudong16_df['전용면적'] < 99.0)) , '전용면적'] = 1
gudong16_df.loc[((gudong16_df['전용면적'] >=99.0) & (gudong16_df['전용면적'] < 135.0)) , '전용면적'] = 2
gudong16_df.loc[((gudong16_df['전용면적'] >=135.0) & (gudong16_df['전용면적'] < 165.0)) , '전용면적'] = 3
gudong16_df.loc[gudong16_df['전용면적'] >= 165.0 , '전용면적'] = 4


gudong16_df['전용면적'].value_counts()

1.0    49069
0.0    41611
2.0    14777
3.0     3169
4.0     1574
Name: 전용면적, dtype: int64

In [13]:
# 구 동 단지별 전용 면적별 최소, 최대금액 & 거랙금액 최소 최대금액 & 계약건수 확인
gudong16_df_agg= gudong16_df.groupby(['구', '동', '전용면적']).agg({  
                                                  '거래금액(만원)' : [min, max, (np.mean)],
                                                  '계약년월' : 'count'
                                                             
                                            })

gudong16_df_agg.info()

# gudong16_df_agg.rename(gudong16_df_agg[key],'계약건수')

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1044 entries, (강남구, 개포동, 0.0) to (중랑구, 중화동, 1.0)
Data columns (total 4 columns):
(거래금액(만원), min)     1044 non-null int64
(거래금액(만원), max)     1044 non-null int64
(거래금액(만원), mean)    1044 non-null float64
(계약년월, count)       1044 non-null int64
dtypes: float64(1), int64(3)
memory usage: 39.6+ KB

In [41]:
# 구, 동 전용면적별 최소 & 최대 & 평균금액 & 계약 건수
gudong16_df_agg()

             거래금액(만원)                         계약년월
                  min     max           mean count
구   동   전용면적
강남구 개포동 0.0     24000  150000   82519.949341   987
        1.0     43000  130500   96339.795918   147
        2.0     52000  158000  128352.222222    45
        3.0    128250  170000  144931.818182    11
        4.0    120000  190000  158811.111111    27
...               ...     ...            ...   ...
중랑구 신내동 1.0     23000   47500   35323.266219   447
        2.0     31100   60000   43002.702703   111
        3.0     55000   65000   57575.000000     4
    중화동 0.0     11700   34800   28117.234043    94
        1.0     22300   49000   36316.355140   107

[1044 rows x 4 columns]

In [15]:
gudong16_df_agg.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1044 entries, (강남구, 개포동, 0.0) to (중랑구, 중화동, 1.0)
Data columns (total 4 columns):
(거래금액(만원), min)     1044 non-null int64
(거래금액(만원), max)     1044 non-null int64
(거래금액(만원), mean)    1044 non-null float64
(계약년월, count)       1044 non-null int64
dtypes: float64(1), int64(3)
memory usage: 39.6+ KB

In [16]:
# 16년도 구, 동 전용면적별 최소 & 최대 & 평균금액 & 계약 건수 파일 저장. 
gudong16_df_agg.to_csv('gudong16_df_agg2.csv', encoding='ANSI')

gudong16_df_agg.index = list(gudong16_df_agg['계약년월'])
gudong16_df_agg.plot.barh(title='16년도 계약 건수', figsize=(10,9), xlim=[80,105])

In [22]:
# 년도별 거래 건수. 월별 거래 건수 구하기.
gudong16_df['구'].value_counts()

노원구     10966
송파구      7564
강서구      7119
강남구      6758
강동구      5892
구로구      5658
양천구      5627
성북구      5195
서초구      4802
도봉구      4775
영등포구     4656
동작구      4616
마포구      4238
성동구      4024
동대문구     3835
은평구      3770
서대문구     3458
관악구      3362
중랑구      3235
용산구      2437
광진구      2297
강북구      1942
금천구      1728
중구       1417
종로구       829
Name: 구, dtype: int64

In [ ]:
pop16