In [1]:
import pandas as pd

In [15]:
park_df = pd.read_csv('park_first.csv', encoding='CP949')
park_df.head()

   id   parkName   openDate region                       address
0   1   남산도시자연공원  1968.9.10     중구        서울특별시 중구 삼일대로 231(예장동)
1   3     길동생태공원  1999.5.20    강동구  서울특별시 강동구 천호대로 1291(길동생태공원)
2   5        서울숲  2005.6.18    성동구    서울특별시 성동구 뚝섬로 273 (성수동1가)
3   6      월드컵공원   2002.5.1    마포구     서울특별시 마포구 하늘공원로 84(월드컵공원)
4  12  광화문시민열린마당   1999.1.1    종로구            서울특별시 종로구 세종로 76-2

In [16]:
park_df['region'].value_counts()

종로구     12
강서구      9
동작구      7
강남구      7
송파구      7
은평구      7
강동구      7
도봉구      6
중랑구      6
서초구      6
마포구      5
성동구      5
영등포구     5
서대문구     4
금천구      4
구로구      4
동대문구     4
양천구      4
성북구      3
강북구      3
중구       3
광진구      2
노원구      2
관악구      2
용산구      2
Name: region, dtype: int64

In [17]:
park_number = pd.DataFrame(park_df['region'].value_counts())
park_number['gu'] = park_number.index
park_number = park_number[['gu','region']]
park_number.columns=['region', 'park']
park_number

     region  park
종로구     종로구    12
강서구     강서구     9
동작구     동작구     7
강남구     강남구     7
송파구     송파구     7
은평구     은평구     7
강동구     강동구     7
도봉구     도봉구     6
중랑구     중랑구     6
서초구     서초구     6
마포구     마포구     5
성동구     성동구     5
영등포구   영등포구     5
서대문구   서대문구     4
금천구     금천구     4
구로구     구로구     4
동대문구   동대문구     4
양천구     양천구     4
성북구     성북구     3
강북구     강북구     3
중구       중구     3
광진구     광진구     2
노원구     노원구     2
관악구     관악구     2
용산구     용산구     2

In [10]:
park_number.to_csv('park_raw.csv', index=False, encoding='utf-8-sig')

스케일 조정

- ~ 3 : 0
- 4 : 1
- 5 ~ 6 : 2
- 7 ~ 8 : 3
- 9 ~ : 4

In [18]:
park_number.loc[park_number['park'] <= 3, 'park'] = 0
park_number.loc[(park_number['park'] > 3) & (park_number['park'] <= 4) , 'park'] = 1
park_number.loc[(park_number['park'] > 4) & (park_number['park'] <= 6) , 'park'] = 2
park_number.loc[(park_number['park'] > 6) & (park_number['park'] <= 8) , 'park'] = 3
park_number.loc[park_number['park'] > 8, 'park'] = 4

In [19]:
park_number['park'].value_counts()

0    7
2    6
3    5
1    5
4    2
Name: park, dtype: int64

In [20]:
park_number

     region  park
종로구     종로구     4
강서구     강서구     4
동작구     동작구     3
강남구     강남구     3
송파구     송파구     3
은평구     은평구     3
강동구     강동구     3
도봉구     도봉구     2
중랑구     중랑구     2
서초구     서초구     2
마포구     마포구     2
성동구     성동구     2
영등포구   영등포구     2
서대문구   서대문구     1
금천구     금천구     1
구로구     구로구     1
동대문구   동대문구     1
양천구     양천구     1
성북구     성북구     0
강북구     강북구     0
중구       중구     0
광진구     광진구     0
노원구     노원구     0
관악구     관악구     0
용산구     용산구     0

In [21]:
park_number.to_csv('park_test.csv', index=False, encoding='utf-8-sig')