In [1]:
import pandas as pd

In [15]:
theater_df = pd.read_csv('theater.csv', encoding='CP949')
theater_df.head()

,id,status,oldAddress,newAddress,theaterName
0,1,영업/정상,서울특별시 종로구 관수동 59-7번지 5층,"서울특별시 종로구 돈화문로 13, 5층 (관수동)",서울극장
1,2,영업/정상,서울특별시 종로구 예지동 222번지 4층,"서울특별시 종로구 청계천로 187 (예지동,4층)",바다극장
2,3,영업/정상,서울특별시 종로구 돈의동 137번지 지하4층,"서울특별시 종로구 돈화문로5가길 1 (돈의동,지하4층)",CGV피카디리1958
3,11,영업/정상,서울특별시 종로구 명륜2가 41-9번지 4층,"서울특별시 종로구 대명길 28 (명륜2가,4층)",CGV 대학로
4,16,영업/정상,서울특별시 종로구 묘동 56번지 단성사 지하2층,"서울특별시 종로구 돈화문로 26 (묘동,단성사 지하2층)",아산엠인터내셔널 단성사

In [16]:
gu_list = []

for i in range(0, len(theater_df)):
    if type(theater_df['oldAddress'][i]) == float:
        addr = theater_df['newAddress'][i].split()
        gu_list.append(addr[1])
    else:
        addr = theater_df['oldAddress'][i].split()
        gu_list.append(addr[1])

print(gu_list)

['종로구', '종로구', '종로구', '종로구', '종로구', '종로구', '종로구', '종로구', '종로구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '중구', '용산구', '성동구', '성동구', '광진구', '광진구', '광진구', '광진구', '동대문구', '중랑구', '중랑구', '성북구', '성북구', '성북구', '강북구', '강북구', '도봉구', '노원구', '노원구', '노원구', '은평구', '은평구', '은평구', '서대문구', '서대문구', '서대문구', '서대문구', '마포구', '마포구', '마포구', '마포구', '양천구', '양천구', '강서구', '강서구', '강서구', '구로구', '구로구', '구로구', '구로구', '영등포구', '영등포구', '동작구', '구로구', '서초구', '서초구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '강남구', '송파구', '송파구', '송파구', '강동구', '강동구', '강동구']

In [17]:
theater_df['theater'] = pd.Series(gu_list)

In [18]:
theater_df

,id,status,oldAddress,newAddress,theaterName,theater
0,1,영업/정상,서울특별시 종로구 관수동 59-7번지 5층,"서울특별시 종로구 돈화문로 13, 5층 (관수동)",서울극장,종로구
1,2,영업/정상,서울특별시 종로구 예지동 222번지 4층,"서울특별시 종로구 청계천로 187 (예지동,4층)",바다극장,종로구
2,3,영업/정상,서울특별시 종로구 돈의동 137번지 지하4층,"서울특별시 종로구 돈화문로5가길 1 (돈의동,지하4층)",CGV피카디리1958,종로구
3,11,영업/정상,서울특별시 종로구 명륜2가 41-9번지 4층,"서울특별시 종로구 대명길 28 (명륜2가,4층)",CGV 대학로,종로구
4,16,영업/정상,서울특별시 종로구 묘동 56번지 단성사 지하2층,"서울특별시 종로구 돈화문로 26 (묘동,단성사 지하2층)",아산엠인터내셔널 단성사,종로구
...,...,...,...,...,...,...
84,646,영업/정상,서울특별시 송파구 문정동 516번지 가든파이브라이프영관 10층,"서울특별시 송파구 충민로 66 (문정동, 가든파이브라이프영관 10층)",CGV 송파,송파구
85,653,영업/정상,서울특별시 송파구 문정동 618번지 204동 비162호,"서울특별시 송파구 송파대로 111, 204동 비162호 (문정동, 파크하비오)",메가박스 송파파크하비오점,송파구
86,680,영업/정상,서울특별시 강동구 성내동 549-1번지,서울특별시 강동구 성내로 48 (성내동),메가박스 강동,강동구
87,684,영업/정상,서울특별시 강동구 성내동 44-1번지,서울특별시 강동구 천호옛길 85 (성내동),롯데시네마 강동,강동구
88,708,영업/정상,서울특별시 강동구 천호동 42번지,"서울특별시 강동구 양재대로 1571, 4층 (천호동)",CGV 천호,강동구

In [19]:
theater_df['theater'].value_counts()

강남구     15
중구      14
종로구      9
구로구      5
서대문구     4
광진구      4
마포구      4
송파구      3
강서구      3
노원구      3
성북구      3
은평구      3
강동구      3
양천구      2
영등포구     2
강북구      2
서초구      2
성동구      2
중랑구      2
도봉구      1
동작구      1
동대문구     1
용산구      1
Name: theater, dtype: int64

In [20]:
theater_number = pd.DataFrame(theater_df['theater'].value_counts())
theater_number['region'] = theater_number.index
theater_number = theater_number[['region','theater']]
theater_number

     region  theater
강남구     강남구       15
중구       중구       14
종로구     종로구        9
구로구     구로구        5
서대문구   서대문구        4
광진구     광진구        4
마포구     마포구        4
송파구     송파구        3
강서구     강서구        3
노원구     노원구        3
성북구     성북구        3
은평구     은평구        3
강동구     강동구        3
양천구     양천구        2
영등포구   영등포구        2
강북구     강북구        2
서초구     서초구        2
성동구     성동구        2
중랑구     중랑구        2
도봉구     도봉구        1
동작구     동작구        1
동대문구   동대문구        1
용산구     용산구        1

In [10]:
theater_number.to_csv('theater_raw.csv', index=False, encoding='utf-8-sig')

스케일 조정

- 1 : 0
- 2 : 1
- 3 : 2
- 4~5 : 3
- 5~ : 4

In [21]:
theater_number.loc[theater_number['theater'] <= 1, 'theater'] = 0
theater_number.loc[theater_number['theater'] == 2 , 'theater'] = 1
theater_number.loc[theater_number['theater'] == 3 , 'theater'] = 2
theater_number.loc[(theater_number['theater'] > 3) & (theater_number['theater'] <= 5) , 'theater'] = 3
theater_number.loc[theater_number['theater'] > 5, 'theater'] = 4

In [22]:
theater_number['theater'].value_counts()

2    6
1    6
3    4
0    4
4    3
Name: theater, dtype: int64

In [23]:
theater_number

     region  theater
강남구     강남구        4
중구       중구        4
종로구     종로구        4
구로구     구로구        3
서대문구   서대문구        3
광진구     광진구        3
마포구     마포구        3
송파구     송파구        2
강서구     강서구        2
노원구     노원구        2
성북구     성북구        2
은평구     은평구        2
강동구     강동구        2
양천구     양천구        1
영등포구   영등포구        1
강북구     강북구        1
서초구     서초구        1
성동구     성동구        1
중랑구     중랑구        1
도봉구     도봉구        0
동작구     동작구        0
동대문구   동대문구        0
용산구     용산구        0

In [24]:
theater_number.to_csv('theater_test.csv', index=False, encoding='utf-8-sig')