In [1]:
import pandas as pd

In [3]:
waste_df = pd.read_csv('waste.csv', encoding='CP949')
waste_df.head()

,id,status,oldAddress,newAddress,wasteName
0,1,영업/정상,서울특별시 종로구 평창동 81-3번지,서울특별시 종로구 평창문화로 127 (평창동),(주)새재공영
1,2,영업/정상,서울특별시 중구 을지로3가 104-11번지,서울특별시 중구 충무로9길 8 (을지로3가),대영상사
2,3,영업/정상,서울특별시 중구 서소문동 58-12번지 대한통운빌딩,서울특별시 중구 세종대로9길 53 (서소문동),씨제이대한통운
3,4,영업/정상,서울특별시 용산구 이촌동 1-7번지,NaN,대청환경상사
4,5,영업/정상,NaN,서울특별시 용산구 우사단로10길 11 (이태원동),한남건설폐기물

In [4]:
gu_list = []

for i in range(0, len(waste_df)):
    if type(waste_df['oldAddress'][i]) == float:
        addr = waste_df['newAddress'][i].split()
        gu_list.append(addr[1])
    else:
        addr = waste_df['oldAddress'][i].split()
        gu_list.append(addr[1])

print(gu_list)

['종로구', '중구', '중구', '용산구', '용산구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '성동구', '광진구', '광진구', '광진구', '광진구', '광진구', '광진구', '광진구', '광진구', '광진구', '광진구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '동대문구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '중랑구', '성북구', '성북구', '성북구', '성북구', '성북구', '성북구', '성북구', '성북구', '성북구', '성북구', '강북구', '강북구', '강북구', '강북구', '강북구', '강북구', '강북구', '도봉구', '도봉구', '도봉구', '도봉구', '도봉구', '도봉구', '도봉구', '도봉구', '도봉구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '노원구', '은평구', '은평구', '은평구', '은평구', '은평구', '은평구', '은평구', '은평구', '은평구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '서대문구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '마포구', '양천구', '양천구', '양천구', '양천구', '양천구', '양천구', '양천구', '양천구', '양천구', '양천구', '양천구', '양천구', '강서구', '강서구', '강서구', '동대문구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '도봉구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '강서구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '구로구', '금천구', '금천구', '금천구', '금천구', '금천구', '금천구', '금천구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '영등포구', '동작구', '동작구', '동작구', '동작구', '동작구', '동작구', '동작구', '동작구', '동작구', '관악구', '관악구', '관악구', '관악구', '관악구', '관악구', '관악구', '관악구', '관악구', '관악구', '관악구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '서초구', '강남구', '송파구', '송파구', '송파구', '송파구', '송파구', '송파구', '송파구', '송파구', '송파구', '송파구', '송파구', '송파구', '강동구', '강동구', '강동구', '강동구', '강동구', '강동구', '강동구', '강동구', '강동구', '강동구']

In [5]:
waste_df['waste'] = pd.Series(gu_list)

In [6]:
waste_df

,id,status,oldAddress,newAddress,wasteName,waste
0,1,영업/정상,서울특별시 종로구 평창동 81-3번지,서울특별시 종로구 평창문화로 127 (평창동),(주)새재공영,종로구
1,2,영업/정상,서울특별시 중구 을지로3가 104-11번지,서울특별시 중구 충무로9길 8 (을지로3가),대영상사,중구
2,3,영업/정상,서울특별시 중구 서소문동 58-12번지 대한통운빌딩,서울특별시 중구 세종대로9길 53 (서소문동),씨제이대한통운,중구
3,4,영업/정상,서울특별시 용산구 이촌동 1-7번지,NaN,대청환경상사,용산구
4,5,영업/정상,NaN,서울특별시 용산구 우사단로10길 11 (이태원동),한남건설폐기물,용산구
...,...,...,...,...,...,...
389,528,영업/정상,서울특별시 강동구 천호동 361-1번지 제일아파트상가2층,"서울특별시 강동구 천중로12길 17, 2층 (천호동, 제일아파트상가)",(주)선사산업개발,강동구
390,529,영업/정상,서울특별시 강동구 성내동 434-10번지,서울특별시 강동구 성내로 89 (성내동),서일건기,강동구
391,530,영업/정상,서울특별시 강동구 암사동 213번지,NaN,대진골재,강동구
392,531,영업/정상,서울특별시 강동구 상일동 329-3번지,"서울특별시 강동구 천호대로221길 16, 1층 (상일동)",(주)한백산업,강동구
393,532,영업/정상,서울특별시 강동구 성내동 539-2번지 삼육빌딩401-1,"서울특별시 강동구 성내로 15 (성내동, 삼육빌딩 401-1)",에이젼시중기,강동구

In [7]:
waste_df['waste'].value_counts()

성동구     66
서대문구    37
노원구     34
강서구     28
구로구     28
영등포구    21
서초구     18
동대문구    17
마포구     16
중랑구     16
송파구     12
양천구     12
관악구     11
성북구     10
강동구     10
광진구     10
도봉구     10
동작구      9
은평구      9
강북구      7
금천구      7
중구       2
용산구      2
종로구      1
강남구      1
Name: waste, dtype: int64

In [9]:
waste_number = pd.DataFrame(waste_df['waste'].value_counts())
waste_number['region'] = waste_number.index
waste_number = waste_number[['region','waste']]
waste_number

     region  waste
성동구     성동구     66
서대문구   서대문구     37
노원구     노원구     34
강서구     강서구     28
구로구     구로구     28
영등포구   영등포구     21
서초구     서초구     18
동대문구   동대문구     17
마포구     마포구     16
중랑구     중랑구     16
송파구     송파구     12
양천구     양천구     12
관악구     관악구     11
성북구     성북구     10
강동구     강동구     10
광진구     광진구     10
도봉구     도봉구     10
동작구     동작구      9
은평구     은평구      9
강북구     강북구      7
금천구     금천구      7
중구       중구      2
용산구     용산구      2
종로구     종로구      1
강남구     강남구      1

In [10]:
waste_number.to_csv('waste_raw.csv', index=False, encoding='utf-8-sig')

스케일 조정

- ~ 2 : 0
- 3 ~ 9 : 0.8
- 10 ~ 12 : 1.6
- 13 ~ 21 : 2.4
- 22 ~ 37 : 3.2
- 38 ~ : 4.0

In [11]:
waste_number.loc[waste_number['waste'] <= 2, 'waste'] = 0
waste_number.loc[(waste_number['waste'] > 2) & (waste_number['waste'] <= 9) , 'waste'] = 0.8
waste_number.loc[(waste_number['waste'] > 9) & (waste_number['waste'] <= 12) , 'waste'] = 1.6
waste_number.loc[(waste_number['waste'] > 12) & (waste_number['waste'] <= 21) , 'waste'] = 2.4
waste_number.loc[(waste_number['waste'] > 22) & (waste_number['waste'] <= 37) , 'waste'] = 3.2
waste_number.loc[waste_number['waste'] > 37, 'waste'] = 4

In [12]:
waste_number['waste'].value_counts()

1.6    7
2.4    5
3.2    4
0.8    4
0.0    4
4.0    1
Name: waste, dtype: int64

In [13]:
waste_number

     region  waste
성동구     성동구    4.0
서대문구   서대문구    3.2
노원구     노원구    3.2
강서구     강서구    3.2
구로구     구로구    3.2
영등포구   영등포구    2.4
서초구     서초구    2.4
동대문구   동대문구    2.4
마포구     마포구    2.4
중랑구     중랑구    2.4
송파구     송파구    1.6
양천구     양천구    1.6
관악구     관악구    1.6
성북구     성북구    1.6
강동구     강동구    1.6
광진구     광진구    1.6
도봉구     도봉구    1.6
동작구     동작구    0.8
은평구     은평구    0.8
강북구     강북구    0.8
금천구     금천구    0.8
중구       중구    0.0
용산구     용산구    0.0
종로구     종로구    0.0
강남구     강남구    0.0

In [14]:
waste_number.to_csv('waste_test.csv', index=False, encoding='utf-8-sig')